footer.wp-block-template-part {
	margin-top: 0;
}

.wp-site-blocks {
	& > .overlay-close {
		// Navigation shape shows close button but doesn't 
		// allow it to be clicked. This is a second close button 
		// with z increment
		position: fixed;
		z-index: 9991;
		top: 0;
		right: 10px;
		pointer-events: none;
		.toggle-navigation & {
			pointer-events: all;
		}
		.wp-block-buttons .wp-block-button .wp-block-button__link {
			padding: 0;
			width: 60px;
			height: 50px;
			opacity: 0;
		}
	}
	& > .overlay-navigation {
		--wp--custom--spacing--outer: min(5.85vw, 80px);
		// margin-left: calc(-1 * var(--wp--custom--spacing--outer)) !important;
		// margin-right: calc(-1 * var(--wp--custom--spacing--outer)) !important;
		// max-width: 50vw;
		// background: var(--wp--preset--color--brand-orange);
		// 250 725
		position: fixed;
		z-index: 9990;
		top: 0;
		left: 0;
		bottom: 0;
		right: auto;
		margin: 0 !important;
		pointer-events: none;
		width: min(95vw, 408px);
		@media (min-width: 768px) { 
			width: min(53vw, 725px);
		}
		& > .wp-block-group.overlay-navigation-wrapper.has-background {
			margin: 0 !important;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			min-height: 100vh;
			display: flex;
			flex-direction: column;
			padding-left: var(--wp--custom--spacing--outer);
			padding-right: 30.5%;
			// padding-right: var(--wp--custom--spacing--outer);
			padding-top: min(8vh, 62px);
			padding-bottom: min(6.1vh, 47px);
			transform: translate(-100%, 0);
			transition: all 0.3s;
			clip-path: url(#menuClip); // Added via footer SVG
			row-gap: 25px;
			& > * {
				max-width: 380px; // 325px;
				width: 100%;
			}
		}
		.toggle-navigation & {
			pointer-events: all;
			& > .wp-block-group.overlay-navigation-wrapper.has-background {
				transform: translate(0, 0);
			}
		}
		nav {
			.wp-block-navigation__container {
				
			}
			&.has-national-extra-bold-font-family {
				.wp-block-navigation__container {
					width: 100%;
					gap: 0;
					.wp-block-navigation-link {
						width: 100%;
						background: url(../images/dotted-nav@2x.png) 0 100%/14px 2px repeat-x;
						&.has-extra-large-font-size {
							// font-size: clamp(2.53125rem, 1.7747rem + 3.3623vw, 4.64528125rem) !important;
							// font-size: clamp(2.125rem, 1.7747rem + 3.3623vw, 4rem) !important;
							// font-size: clamp(2.125rem, 1.1277rem + 1.9947vw, 4rem) !important;
							// font-size: clamp(2.125rem, 1.4648rem + 1.3204vw, 4rem) !important;
							font-size: clamp(2.3rem, -0.2143rem + 5.2381vw, 4.5rem) !important;
						}
					}
				}
			}
			&:not(.has-national-extra-bold-font-family) {
				.wp-block-navigation__container {
					gap: 0;
				}
			}
		}
		.navigation-footer {
			--wp--style--block-gap: 15px;
			margin-top: auto;
			// margin-bottom: 0;
			align-items: flex-end;
			justify-self: flex-end;
			// margin-bottom: 0;
		}
	}
	.wp-block-social-links {
		@media (max-width: 599px) {
			justify-content: flex-start;
		}
		@media (min-width: 600px) {
			margin-top: 0;
		}
	}
}