footer.wp-block-template-part {
	margin-top: 0;
}

.wp-site-blocks {
	& > .overlay-close {
		--wp--custom--spacing--outer: 20px;
		@media (min-width: 782px) { 
			--wp--custom--spacing--outer: min(2.375rem, 2.78vw);
		}
		@media (min-width: 1366px) { 
			--wp--custom--spacing--outer: calc( ( 100vw - 1366px ) / 2 + min(2.375rem, 2.78vw) );
		}
		// Navigation shape shows close button but doesn't 
		// allow it to be clicked. This is a second close button 
		// with z increment
		position: fixed;
		z-index: 9991;
		top: 30px;
		right: var(--wp--custom--spacing--outer);
		pointer-events: none;
		margin: 0;
		
		.toggle-navigation & {
			pointer-events: all;
		}
		.wp-block-buttons .wp-block-button .wp-block-button__link {
			padding: 0;
			width: 60px;
			height: 50px;
			opacity: 0;
		}
	}
	& > .overlay-navigation {
		--wp--custom--spacing--outer: min(5.85vw, 80px);
		// margin-left: calc(-1 * var(--wp--custom--spacing--outer)) !important;
		// margin-right: calc(-1 * var(--wp--custom--spacing--outer)) !important;
		// max-width: 50vw;
		// background: var(--wp--preset--color--brand-orange);
		// 250 725
		--app-navigation-padding-top: min(8vh, 62px);
		--app-navigation-padding-bottom: min(6.1vh, 47px);

		position: fixed;
		z-index: 9990;
		top: 0;
		left: 0;
		bottom: 0;
		right: auto;
		margin: 0 !important;
		pointer-events: none;
		width: 100%;
		// width: min(95vw, 500px); // min(95vw, 408px);
		overflow: scroll;
		// @media (min-width: 768px) { 
		// 	width: min(62vw, 725px);
		// }
		&::before {
			content: '';
			position: fixed;
			background: var(--wp--preset--color--brand-orange);
			top: 0;
			left: 0;
			bottom: 0;
			width: min(95vw, 500px); // min(95vw, 408px);
			clip-path: url(#menuClip); // Added via footer SVG
			transform: translate(-100%, 0);
			transition: transform .3s;
			@media (min-width: 768px) { 
				width: min(62vw, 725px);
			}
		}
		& > .wp-block-group.overlay-navigation-wrapper.has-background {
			margin: 0 !important;
			// position: absolute;
			// top: 0;
			// left: 0;
			// right: 0;
			// min-height: 100vh;
			display: flex;
			flex-direction: column;
			padding-left: var(--wp--custom--spacing--outer);
			padding-right: 14%; // 30.5%;
			// padding-right: var(--wp--custom--spacing--outer);
			padding-top: var(--app-navigation-padding-top);
			padding-bottom: var(--app-navigation-padding-bottom);
			transform: translate(-100%, 0);
			transition: transform .3s;
			// clip-path: url(#menuClip); // Added via footer SVG
			background-color: transparent !important;
			row-gap: 25px;
			// overflow-y: scroll;
			width: min(95vw, 500px); // min(95vw, 408px);
			// overflow: scroll;
			@media (min-width: 768px) { 
				width: min(62vw, 725px);
			}
			& > * {
				max-width: 380px; // 325px;
				width: 100%;
				& > * {
					width: 100%;
				}
			}
			.scroll-stack {
				height: calc(100vh - ( var(--app-navigation-padding-top) + var(--app-navigation-padding-bottom) ) );
				flex-wrap: nowrap;
				// padding-top: var(--app-navigation-padding-top);
				// padding-bottom: var(--app-navigation-padding-bottom);
				// padding-right: 15px;
				--wp--style--block-gap: 25px;
				&::after {
					content: "";
					display: inline-block;
					width: 10px;
					min-height: 10px;
				}
			}
		}
		.toggle-navigation & {
			pointer-events: all;
			&::before {
				transform: translate(0, 0);
			}
			& > .wp-block-group.overlay-navigation-wrapper.has-background {
				transform: translate(0, 0);
			}
		}
		nav {
			.wp-block-navigation__container {
				
			}
			&.has-national-extra-bold-font-family {
				.wp-block-navigation__container {
					width: 100%;
					gap: 0;
					.wp-block-navigation-link {
						width: 100%;
						background: url(../images/dotted-nav@2x.png) 0 100%/14px 2px repeat-x;
						&.has-extra-large-font-size {
							// font-size: clamp(2.53125rem, 1.7747rem + 3.3623vw, 4.64528125rem) !important;
							// font-size: clamp(2.125rem, 1.7747rem + 3.3623vw, 4rem) !important;
							// font-size: clamp(2.125rem, 1.1277rem + 1.9947vw, 4rem) !important;
							// font-size: clamp(2.125rem, 1.4648rem + 1.3204vw, 4rem) !important;
							font-size: clamp(2.3rem, -0.2143rem + 5.2381vw, 4.5rem) !important;
						}
					}
				}
			}
			&:not(.has-national-extra-bold-font-family) {
				.wp-block-navigation__container {
					gap: 0;
				}
			}
		}
		.navigation-footer {
			--wp--style--block-gap: 15px;
			margin-top: auto;
			// margin-bottom: 0;
			align-items: flex-end;
			justify-self: flex-end;
			// margin-bottom: 0;
		}
	}
}

footer {
	.wp-block-social-links {
		@media (max-width: 599px) {
			justify-content: flex-start;
		}
		@media (min-width: 600px) {
			margin-top: 0;
		}
	}
}