@forward '../../.././../node_modules/hamburgers/_sass/hamburgers/hamburgers';


body {
	--header--featured-color: var(--wp--preset--color--brand-blue);
	&.logo-fill-background-brand-purple,
	&.logo-fill-background-brand-orange,
	&.logo-fill-background-brand-blue,
	&.logo-fill-background-vertical-orange-to-purple {
		--header--featured-color: var(--wp--preset--color--brand-cream);
	}
}

.logo-wrapper {
	display: block;
	font-size: 0;
	padding-top: 28px;
	padding-bottom: 20px;	
}

header.wp-block-template-part {
	--wp--custom--spacing--outer: 20px;
	@media (min-width: 782px) { 
		--wp--custom--spacing--outer: min(2.375rem, 2.78vw);
	}
	.header-inner {
		padding-left: var(--wp--custom--spacing--outer);
		padding-right: var(--wp--custom--spacing--outer);
		width: 100%;
		max-width: var(--wp--custom--sizing--wide);
		margin-left: auto;
		margin-right: auto;
		align-items: center; // flex-start;
		padding-top: 0;
		padding-bottom: 0;
		// padding-top: 28px;
		// padding-bottom: 14px;
		// @media (min-width: 768px) { 
		// 	padding-top: 35px; // var(--wp--custom--spacing--outer);
		// 	padding-bottom: 0; // 35px;
		// }
	}

	img[src$=".svg"] {
		min-width: 185px;
		max-width: min(22.32vw, 305px);
		width: 100%;
		opacity: 1;
		height: auto;
	}
	svg {
		min-width: 185px;
		max-width: min(22.32vw, 305px);
		width: 100%;
		opacity: 1;
		svg {
			display: block;
		}
		.logo-fill, .cls-1 {

			fill: var(--header--featured-color);
			transition: all 0.3s;
			// body.page-alcohol & {
			// 	fill: var(--wp--preset--color--brand-cream);
			// }
			
		}
	}

	.menu-toggle { // Hamburger
		justify-self: end;
		text-transform: uppercase;
		font-family: var(--wp--preset--font-family--geometric-slab-bold);
		display: flex;
		align-items: center;
		& > a {
			color: var(--header--featured-color);
			transition: color 0.3s;
			padding-top: 2px;
			display: none;
			// text-decoration: none;
			@media (min-width: 768px) { 
				display: inline-block;
			}
		}
		.hamburger {
			padding-top: 0;
			padding-bottom: 0;
			padding-left: min(3.66vw, 50px);
			padding-right: 0;
			.hamburger-box {
				display: block;
			}
			.hamburger-inner, 
			.hamburger-inner::before, 
			.hamburger-inner::after {
				background-color: var(--header--featured-color);
				border-radius: 0;
				height: 3px;
			}
		}
	}
}

