h1 {
	letter-spacing: 0.01em;
}
h2 {
	letter-spacing: 0.01em;
}
h1,
h2 {
	margin-top: 0.25em;
	margin-bottom: 0.25em;
	&.wp-block-post-title {
		font-size: 1rem;
	}
}
h3 {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	letter-spacing: 0.0125em;
}
h4 {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
h5 {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
h1, h2, h3, h4, h5, h6 {
	&.is-style-narrow {
		@media (min-width: 600px) { 
			max-width: min(670px, 54.3vw);
		}
	}
	&.is-hidden {
		opacity: 0;
	}
}

p {
	--wp--style--block-gap: 1.4em;
	letter-spacing: -0.02em;
	margin-top: 1.4em;
	margin-bottom: 1.4em;
	.has-large-font-size,
	&.has-large-font-size {
		// line-height: var(--wp--custom--typography--line-height--tiny);
		line-height: 1.05em;
		margin-top: 0.7em;
		margin-bottom: 0.7em;
	}
	.has-extra-large-font-size,
	&.has-extra-large-font-size {
		font-family: var(--wp--preset--font-family--geometric-slab-medium);
    line-height: 0.95em;
    margin-top: 0.35em;
    margin-bottom: 0.35em;
    letter-spacing: 0;
	}
	&.is-style-narrow {
		max-width: 480px;
	}
}


* {
	&:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
		strong {
			font-family: var(--wp--preset--font-family--geometric-slab-bold);
			font-weight: normal;
		}
	}
}

:where(p.has-text-color:not(.has-link-color)) a {
	color: inherit !important;
	text-decoration: none;
}

iframe {
	border: 0 none !important;
	display: block;
}