h1,
h2 {
	margin-top: 0.25em;
	margin-bottom: 0.25em;
}
h3 {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
h4 {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
h5 {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}