@use "../core/mixins";

.wp-block-quote {
	@include mixins.trim;
	border-left: 0 none;
	// max-width: 320px;
	& > * {
		width: 100%;
		display: block;
		@media (min-width: 782px) { 
			max-width: 385px;
			margin-left: min(12.7vw, 173px);
		}
	}
	&.has-text-align-center {
		p {
			margin-left: auto;
			margin-right: auto;
		}
	}
	p {
		font-family: var(--wp--preset--font-family--national-extra-bold);
		font-size: clamp(3.8671875rem, 3.0369rem + 3.6904vw, 6.1875rem);
		color: var(--wp--preset--color--brand-purple);
		letter-spacing: 0.0175em;
		margin-bottom: 0;
		line-height: 0.8em;
		&:first-of-type {
			&::before {
				content: "“";
				display: block;
				font-size: 1.5em;
				transform: translate(0, 35%);
			}
		}
		&:last-of-type {
			&::after {
				content: "”";
				display: block;
				font-size: 1.5em;
				transform: translate(0, 48%);
			}
		}
		&:not(.has-text-color) {
			color: var(--wp--preset--color--brand-purple);
		}
	}
	cite {
		font-family: var(--wp--preset--font-family--geometric-slab-medium);
		color: var(--wp--preset--color--brand-purple);
		font-size: clamp(1.1rem, 0.8978rem + 0.8986vw, 1.665rem);
		margin-top: 0.5em;
		margin-left: auto;
		margin-right: auto;
	}
}