@use "../core/mixins";

.wp-block-cover {
	padding: 1.25em var(--wp--custom--padding--horizontal);	
	&.alignfull {
		& + .wp-block-group.alignfull {
			margin-top: 0;
		}
	}
	&.is-style-background-contained {
		img.wp-block-cover__image-background {
			object-fit: contain;
		}
	}
	.wp-block-cover__inner-container {
		@include mixins.trim;
		max-width: var(--wp--custom--sizing--narrow);
		margin-left: auto;
		margin-right: auto;
		.wp-block-columns {
			.wp-block-column {
				@include mixins.trim;
			}
		}
	}
}