@use "../core/mixins";

.wp-block-media-text {
	&.is-stacked-on-mobile {
		@media (min-width: 600px) {
			grid-template-columns: 1fr !important;
			grid-template-rows: auto auto;
			.wp-block-media-text__media {
				grid-column: 1;
				grid-row: 1;
				// min-height: max(250px, 22.4vw);
				min-height: min(250px, 28vw);
			}
			.wp-block-media-text__content {
				@include mixins.trim;
				grid-column: 1;
				grid-row: 2;
				padding: 3.65em 1.3em 1.1em;
				p {
					&.has-large-font-size {
						letter-spacing: -0.015em;
					}
				}
			}
		}
		&.has-background {
			border-radius: 30px;
			overflow: hidden;
		}
	}
}