.wp-block-navigation {
	--wp--style--block-gap: 0;
	a {
		&:hover {
			opacity: 0.8;
			transition: opacity 0.3s;
		}
	}
	&.has-extra-large-font-size {
		.wp-block-navigation-item__content {
			line-height: 0.95em;
			padding-bottom: 0.15em;
		}
	}
	&:not(.has-extra-large-font-size) {
		.wp-block-navigation-item__content {
			line-height: 1.4em;
			font-family: var(--wp--preset--font-family--geometric-slab-medium);
			
			// padding-bottom: 0.15em;
		}
	}
}