@use "../core/mixins";

.wp-block-columns {
	.wp-block-column {
		@include mixins.trim;
		// li:first-child:nth-last-child(3),
		// li:first-child:nth-last-child(3) ~ li {
		// 		width: 33.3333%;
		// }
		&:nth-last-child(3) ~ .wp-block-column {
			margin-left: 24px;
		}
	}
}

.wp-block-post-content {
	& > .wp-block-columns {
		& > .wp-block-column {
			--wp--style--block-gap: min(4vw, 56px);
			&:first-child {
				padding-left: min(5vw, 65px);
			}
		}
	}
}