form {
	--form-control-color: red;
	fieldset {
		padding: 0;
		border: 0 none;
	}
	select {
		width: 100%;
	}
	input:not([type="submit"]):not([type="select-one"]):not([type="checkbox"]):not([type="radio"]), 
	textarea {
		width: 100%;
		font-family: var(--wp--preset--font-family--geometric-slab-medium);
		color: var(--wp--preset--color--brand-blue);
		border: 2px solid var(--wp--preset--color--brand-blue);
		line-height: 1.2em;
		border-radius: 20px;
		// height: 72px;
		background-color: var(--wp--preset--color--brand-cream);
		box-sizing: border-box;
		font-size: var(--wp--preset--font-size--large);
		padding: clamp(0.625rem, 0.4013rem + 0.9940vw, 1.25rem) clamp(1rem, 0.6869rem + 1.3917vw, 1.875rem);
		// 10px 16px // 20px 30px
		&::placeholder {
			color: var(--wp--preset--color--brand-blue);
		}
		&:focus-visible {
			outline-color: var(--wp--preset--color--brand-orange);
		}
	}
	input[type="select-one"] {
		display: none !important;
	}
	input[type="radio"] {
		width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 2px 4px 0 !important;
    padding: 0 !important;
		position: relative;
		box-sizing: border-box;
		&::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: var(--wp--preset--color--brand-cream);
			left: 50%;
			top: 50%;
			border: 2px solid var(--wp--preset--color--brand-blue);
			border-radius: 100%;
			transform: translate(-50%, -50%);
		}
		&:checked::before {
			background: var(--wp--preset--color--brand-blue);
		}
	}
	textarea {
		height: auto;
		resize: none;
	}
	input[type="submit"],
	button {
		font-family: var(--wp--preset--font-family--national-extra-bold);
		padding: 10px 35px;
		letter-spacing: 0.01em;
		background: var(--wp--preset--color--brand-blue);
		color: var(--wp--preset--color--brand-cream);
		border: 0 none;
		border-radius: 20px;
		font-size: calc( var(--wp--preset--font-size--large) * 1.35);
	}
	.frm_radio label {
		font-family: var(--wp--preset--font-family--geometric-slab-medium);
		color: var(--wp--preset--color--brand-blue);
		font-size: var(--wp--preset--font-size--large);
		position: relative;
		&::before {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 25px;
			height: 25px;
		}
	}
	.frm_primary_label {
		margin-bottom: 0.3em;
	}
	.frm_error_style {
		margin-bottom: 1em;
		color: var(--wp--preset--color--vivid-red);
		text-align: center;
	}
	.frm_error {
		margin-top: 0.3em;
		color: var(--wp--preset--color--vivid-red);
	}
}

// Formidable

.frm_form_field {
	margin-bottom: 0.8em;
	@media (min-width: 768px) { 
		margin-bottom: 1.2em;
	}
}
// .frm_fields_container {
// 	& > div:first-of-type() {
// 		opacity: 0.5;
// 	}
// 	div:first-of-type() {
// 		margin-top: 0;
// 	}
// }

// TomSelect

.ts-wrapper.single {
	&.input-active {
		.ts-control {
			background-color: var(--wp--preset--color--brand-cream);
		}
	}
	.ts-control {
		font-family: var(--wp--preset--font-family--geometric-slab-medium);
		color: var(--wp--preset--color--brand-blue);
		border: 2px solid var(--wp--preset--color--brand-blue);
		line-height: 1.2em;
		border-radius: 20px;
		font-size: var(--wp--preset--font-size--large);
		// height: 72px;
		// 10 20 // 15 30
		padding: clamp(0.625rem, 0.5132rem + 0.4970vw, 0.9375rem) clamp(1.25rem, 1.0263rem + 0.9940vw, 1.875rem);
		box-sizing: border-box;
		background-color: var(--wp--preset--color--brand-cream);
	}
	.ts-dropdown.single {
		// background-color: var(--wp--preset--color--brand-cream);
		font-family: var(--wp--preset--font-family--geometric-slab-medium);
		color: var(--wp--preset--color--brand-blue);
		border: 2px solid var(--wp--preset--color--brand-blue);
		line-height: 1.2em;
		border-radius: 20px;
		font-size: var(--wp--preset--font-size--large);
		// padding: 10px 30px;
		overflow: hidden;
		.ts-dropdown-content {
			.option {
				padding: 8px 30px;
				&.selected,
				&.active {
					background: var(--wp--preset--color--brand-orange);
					color: var(--wp--preset--color--brand-cream);
				}
			}
		}
	}
}