.wp-block-navigation {
	--wp--style--block-gap: 0;
	a {
		&:hover {
			opacity: 0.8;
			transition: opacity 0.3s;
		}
	}
	&.has-extra-large-font-size {
		.wp-block-navigation-item__content {
			line-height: 1.2em; // 0.95em;
			padding-bottom: 0.15em;
			font-size: 30px;
			@media (min-width: 500px) { 
				line-height: 1.1em; // 0.95em;
				font-size: clamp(2.5rem, 1.3889rem + 2.3148vw, 3.125rem);
			}
		}
	}
	&:not(.has-extra-large-font-size) {
		.wp-block-navigation-item__content {
			line-height: 1.4em;
			font-family: var(--wp--preset--font-family--geometric-slab-medium);
			
			// padding-bottom: 0.15em;
		}
	}
}

// 50px 1200px
// 40px 768px