.wp-block-group {
	&.alignfull {
		& + .wp-block-group.alignfull {
			margin-top: 0;
		}
	}
	&:where( .has-background ) {
		padding: 1.25em var(--wp--custom--padding--horizontal);
	}
}

main.wp-block-group {
	margin-top: 0;
	.wp-block-group {
		*:not(.wp-block-spacer) {
			--wp--style--block-gap: 24px;
			@media (min-width: 600px) { 
				--wp--style--block-gap: min(2.8125rem, 3.3vw);
			}
		}
	}
	.wp-block-post-content {
		& > * {
			&:last-child {
				&:not(.alignfull) {
					margin-bottom: var( --wp--style--block-gap );
					.home & {
						margin-bottom: 0;
					}
				}
			}
		}
	}
	[data-type="core/post-content"] {
		& > p {
			&:first-child {
				margin-top: 100px;
			}
		}
	}
}

.block-editor-block-list__layout.is-root-container {
	& > .wp-block-group {
		&.alignfull {
			margin-left: calc(-1*var(--wp--custom--spacing--outer)) !important;
			margin-right: calc(-1*var(--wp--custom--spacing--outer)) !important;
		}
	}
}