@use "../core/mixins";

.wp-block-columns {
	gap: 24px;
	.wp-block-column {
		@include mixins.trim;
		@media (min-width: 782px) { 
			li:first-child:nth-last-child(2),
			li:first-child:nth-last-child(2) ~ li {
					opacity: 0.5;
			}
		}
		margin-left: 0 !important;
		// &:nth-last-child(3) ~ .wp-block-column {
		// 	margin-left: 0;
		// }
	}

	&:not(.is-not-stacked-on-mobile) {
		& > .wp-block-column:not(:only-child) {
			@media (min-width: 600px) and (max-width: 781px) {
				flex-basis: auto !important;
				// flex-grow: 1;
			}
		}
	}
}

.wp-block-post-content {
	& > .wp-block-columns {
		@media (min-width: 782px) { 
			padding-left: min(5vw, 65px);
		}
		& > .wp-block-column {
			--wp--style--block-gap: min(4vw, 56px);
			&:first-child {
				@media (min-width: 782px) { 
					padding-left: min(5vw, 65px);
				}
			}
		}
	}
}