<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group"><!-- wp:post-featured-image {"align":"full"} /-->

	<!-- wp:group {"layout":{"contentSize":"750px"}} -->
	<div class="wp-block-group"><!-- wp:post-title {"level":3} /-->
	
	<!-- wp:post-content /--></div>
	<!-- wp:spacer {"height":"50px","editorskit":{"tablet":false,"mobile":false,"devices":false,"desktop":true,"loggedin":true,"loggedout":true,"acf_visibility":"","acf_field":"","acf_condition":"","acf_value":"","migrated":false,"unit_test":false}} -->
<div style="height:50px" aria-hidden="true" class="wp-block-spacer editorskit-no-tablet editorskit-no-mobile"></div>
<!-- /wp:spacer -->
	<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->

<!-- wp:template-part {"slug":"overlay-close","tagName":"div","className":"overlay-close"} /-->
<!-- wp:template-part {"slug":"overlay-navigation","tagName":"div","className":"overlay-navigation"} /-->